.container-intro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.intro-img{
    
    width: auto;
    height: auto;
    margin-bottom: -3rem;
    max-width: 860px;
   
    

}

.bold-text{
    font-size: 5vw;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 20px;

    
}
.intro-text{
   background-color: blueviolet;
   font-weight: lighter;
   font-size: 2vw;
   color: white;
   text-align: center;
   padding:100px

}

