.container-intro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.intro-img{
    
    width: auto;
    height: auto;
    margin-bottom: -1rem;
    max-width: 860px;
   
    

}
.intro-text{
   background-color: blueviolet;
   font-weight: lighter;
   font-size: 1.2rem;
   color: white;

  
  
  
}