.portfolio__container {
  display: flex;
  flex-direction: row;
  margin: 1px;
  gap: 50px;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.portfolio-img {
  object-fit: cover;
  height: 300px;
  width: 400px;
}
.portfolio_item {
  border: 2px solid black;
  padding: 40px;
  background-color: blueviolet;
  color: white;
}
.portfolio_item:hover {
  border: 2px solid black;
  padding: 40px;
  background-color: white;
  color: blueviolet;
}

.btn {
  font: 11px;
  text-decoration: none;
  color: white;
  padding: 10px 40px;
  border: 1px solid;
  background-color: #000000;
  color: #fff;
}
.btn:hover {
  background-color: #fff;
  color: #000000;
}

@media only screen and (max-width: 768px) {
  .portfolio-img {
    height: auto;
    width: auto;
    max-width: 420px;
  }

  .portfolio_item {
    border: 2px solid black;
    padding: 20px;
    background-color: blueviolet;
    color: white;
  }

  .portfolio_item:hover {
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    color: blueviolet;
  }
}
